@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}
img {
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(218, 23%, 16%);
  padding: 1rem;
  user-select: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  width: 35rem;
  padding: 2rem;
  position: relative;
}
.advice {
  text-align: center;
  color: hsl(150, 100%, 66%);
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.quote {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 30px;
  color: hsl(193, 38%, 86%);
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: hsl(150, 100%, 66%);
  border-radius: 50px;
  cursor: pointer;
  transition: all 1s;
  position: absolute;
  bottom: -10%;
  border: none;
}
main {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon:hover {
  box-shadow: 0px 0px 44px -4px rgba(82, 255, 168, 0.75);
  transform: scale(1.1) rotate(-90deg);
}

.divider {
  margin-bottom: 1rem;
  width: 90%;
}
footer {
  margin-top: 2rem;
  color: hsl(193, 38%, 86%);
  text-align: center;
}
@media screen and (max-width: 580px) {
  .container {
    width: 30rem;
  }
  .icon:focus {
    box-shadow: 0px 0px 44px -4px rgba(82, 255, 168, 0.75);
    transform: scale(1.1) rotate(-90deg);
  }
  .quote {
    color: hsl(193, 38%, 86%);
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 25rem;
  }
}
@media screen and (max-width: 425px) {
  .container {
    width: 21rem;
  }
  .quote {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 19rem;
  }
  .icon {
    padding: 0.7rem;
  }
}
@media screen and (max-width: 340px) {
  .container {
    width: 17rem;
  }
}
@media screen and (max-width: 305px) {
  .container {
    width: 15rem;
  }
  .quote {
    font-size: 17px;
  }
  .icon {
    bottom: -5%;
    width: 2.3rem;
    padding: 0.5rem;
  }
}
